@use "../abstract/" as *;

.btn {
  background-color: transparent;
  padding: 1rem 3rem;
  display: inline-block;

  &.bg--primary {
    background-color: $clr--primary;
    color: $clr--light;
    &:hover {
      background-color: transparent;
      border: 1px solid $clr--primary;
      color: $clr--primary;
      transition: .3s ease;
    }
  }
}
